//  Colores
$colorClaro: #F5F5F5;
$colorGris: #626262;
$colorGrisOscuro: #141414;
$colorOscuro: #000000;
$fuenteTitulo: "Black Ops One", cursive;
$fuente: "Noto Serif", serif;
$colorTituloOscuro: #000000;
$colorTituloClaro: #F5F5F5;